<html>
    <body>
        <h1>Weather App index page</h1>
        <hr>
        <div>
            <a href="help.hbs">Help</a>
            <a href="">Contact us</a>
        </div>
        <div>
            <br>
            {{helptext}}
            <br>
            {{descriptionText}}
        </div>
    </body>
</html>